/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-heading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-heading img {
  width: 50px;
  height: 50px;
}
/* Styling the Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
  font-family: Arial, sans-serif;
}

nav h2 {
  color: #fff;
  font-size: 24px;
}

nav h2 a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul {
  margin-left: 20px;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  cursor: pointer;
}

nav ul a:hover,
.logout-link a:hover {
  background-color: #555;
  color: #fff;
}

.active {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

nav ul .logout-link a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  cursor: pointer;
}

/* Adding a separator line after the navbar */
hr {
  border: none;
  height: 2px;
  background-color: #ddd;
  margin: 0;
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
  nav {
    padding: 10px 20px;
  }
  .drop-down {
    display: flex;
    text-align: right;
    gap: 8px;
    margin-left: 10px;
  }
  nav ul a {
    padding: 5px 10px;
  }
  .logo-heading {
    width: 45px;
    height: 45px;
  }
  .logo-heading img {
    width: 45px;
    height: 45px;
  }
  nav ul {
    margin-left: 15px;
  }
}
