<div>
  <nav>
    <h2><a routerLink="/">Rescale</a></h2>
    <ul>
      <li><a  routerLink="/exploreData" routerLinkActive="active">Home</a></li>    
      @if(authService.isAuthenticated()){
        <li (click)="authService.logout()"class="logout-link"> <a class="nav-link">Logout</a></li>
      }@else{
        <li><a  routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a  routerLink="/signup" routerLinkActive="active">Signup</a></li>
      }
          
    </ul>
  </nav>
  <hr />
</div>