<div>
  <nav>
    <h2 class="logo-heading">
      <a routerLink="/home">
        <img src="/assets/rescale.jpg" alt="rescale logo" />
      </a>
    </h2>
    <ul>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      @if(authService.isAuthenticated()){
        <a class="nav-link"  (click)="authService.logout()" class="logout-link nav-link">Logout</a>
      }@else{
      <div class="drop-down">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/signup" routerLinkActive="active">Signup</a>
      </div>
      }
    </ul>
  </nav>
  <hr />
</div>
