<!-- <div>
    <button (click)="navigateToData('skoda')">Skoda</button>
    <button (click)="navigateToData('tata')">Tata</button>
</div> -->
<div class="home-container">
  <ul>
    <li 
      (click)="navigateToData('skoda')" 
      [ngClass]="{'active': activeItem === 'skoda'}">
      <a href="javascript:void(0">Skoda</a>
    </li>
    <li 
      (click)="navigateToData('tata')" 
      [ngClass]="{'active': activeItem === 'tata'}">
      <a href="javascript:void(0">Tata</a>
    </li>
    <li 
      (click)="navigateToData('loan')" 
      [ngClass]="{'active': activeItem === 'loan'}">
      <a href="javascript:void(0">Loan</a>
    </li>
  </ul>
</div>

