
.home-container{
    display: flex;
    justify-content: center;
    width: 100%; 
}
ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul li{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
}
ul li:hover{
    cursor: pointer;
}